<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Delta House</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#EFEFED">
  <meta name="msapplication-navbutton-color" content="#EFEFED">
  <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body class="catalog">

  ${require('../parts/header.html')}

  <main class="main" style="opacity: 0;">
    <div class="section catalog-section">
        <div class="container-lg">
            <div class="grid">
                <div class="col-lg">
                    <img src="../../images/catalog-pic.jpg" class="lazy" alt="">
                </div>
                <div class="col-sm">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="7.5" y1="2.18557e-08" x2="7.5" y2="16" stroke="#fff"/>
                        <line y1="7.5" x2="16" y2="7.5" stroke="#fff"/>
                    </svg>
                    <div class="catalog-text">
                        <span class="catalog-title">Lifting-sliding structures</span>
                        <div class="catalog-text__main">
                            <p></p>
                            <ul>
                                <li></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
