<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Delta House</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#EFEFED">
    <meta name="msapplication-navbutton-color" content="#EFEFED">
    <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body class="dark-mode">

${require('../parts/header.html')}

<main class="main">
    <div class="catalog">
        <div class="container-lg">
            <div class="grid">
                <div class="col-lg">
                    <div class="catalog__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/catalog-product.webp"
                                    class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/catalog-product.jpg"
                                    class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/catalog-product.jpg"
                                 class="lazy" alt="">
                        </picture>
                    </div>
                    sfgsfg
                </div>
                <div class="col-sm">
                    dfgdfg
                </div>
            </div>
        </div>
    </div>

</main>
${require('../parts/footer.html')}

</body>

</html>
