<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Delta House</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#EFEFED">
    <meta name="msapplication-navbutton-color" content="#EFEFED">
    <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body>



<main class="main">
    <div class="contacts">
        <div class="contacts__inner">
            <span class="contacts__title">Let’s add comfort, style and functionality for your home!</span>
            <div class="contacts__mail">
                <span>Contacts us:</span>
                <a href="javascript:void(0)">info@Windows&facades.nl</a>
            </div>
            <div class="contacts__link">
                <svg width="30" height="79" viewBox="0 0 30 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 2L30 0L10 77L0 79L20 2Z" fill="black"/>
                </svg>
                <span>Fasades.</span>
                <!--                <a href="javascript:void(0)">Fasades.</a>-->
            </div>
            <div class="contacts__address">
                <a href="javascript:void(0)">+47 (000) 500 60 20</a>
                <span>012345, Нідерланди, Роттердам,вулиця Блаак 94, №офиса</span>
            </div>
        </div>
        <div class="contacts__bot">
            <div class="contacts__inner">
                <div class="contacts__logo">
                    <img src="../../images/logo-red.svg" alt="">
                </div>
                <a href="javascript:void(0)">
                    <span>Main domen: construction and foundation</span>
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="white"/>
                        <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="white"/>
                        <path d="M0.480469 15.5206L15.3605 0.640625" stroke="white" fill="white" stroke-width="1.28"/>
                    </svg>

                </a>
            </div>
        </div>

    </div>

</main>


</body>

</html>
