<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Delta House</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#EFEFED">
    <meta name="msapplication-navbutton-color" content="#EFEFED">
    <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body class="contact-us">
<header class="header" style="opacity: 0;">
    <div class="container-lg">
        <div class="header-wrapper">
            <div class="header-left">
                <a href="javascript:void(0)" class="header-logo">
                    <img src="../../images/logo.svg" class="lazy" alt="">
                </a>
                <div class="header-btn__cat">
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="5" width="16" height="1" rx="0.5" fill="black"/>
                        <rect x="4" y="10" width="16" height="1" rx="0.5" fill="black"/>
                    </svg>
                    Catalog
                </div>
            </div>
            <div class="header-right">
                <div class="header-menu__btn">menu</div>
                <ul class="header-menu">
                    <li><a href="javascript:void(0)">About us</a></li>
                    <li class="current-menu-item"><a href="javascript:void(0)">Contacts</a></li>
                </ul>
                <div class="header-lang">
                    <div>En</div>
                    <span></span>
                    <a href="javascript:void(0)">Nl</a>
                </div>
                <div class="header-search">
                  <span class="header-search__btn">
                      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5C6.13401 3.5 3 6.63401 3 10.5C3 14.366 6.13401 17.5 10 17.5C13.866 17.5 17 14.366 17 10.5C17 6.63401 13.866 3.5 10 3.5ZM2 10.5C2 6.08172 5.58172 2.5 10 2.5C14.4183 2.5 18 6.08172 18 10.5C18 14.9183 14.4183 18.5 10 18.5C5.58172 18.5 2 14.9183 2 10.5Z" fill="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1464 15.6464C15.3417 15.4512 15.6583 15.4512 15.8536 15.6464L21.8536 21.6464C22.0488 21.8417 22.0488 22.1583 21.8536 22.3536C21.6583 22.5488 21.3417 22.5488 21.1464 22.3536L15.1464 16.3536C14.9512 16.1583 14.9512 15.8417 15.1464 15.6464Z" fill="black"/>
                      </svg>
                  </span>
                    <form class="header-search__form">
                        <input type="search" placeholder="Search">
                        <button type="submit">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5C6.13401 3.5 3 6.63401 3 10.5C3 14.366 6.13401 17.5 10 17.5C13.866 17.5 17 14.366 17 10.5C17 6.63401 13.866 3.5 10 3.5ZM2 10.5C2 6.08172 5.58172 2.5 10 2.5C14.4183 2.5 18 6.08172 18 10.5C18 14.9183 14.4183 18.5 10 18.5C5.58172 18.5 2 14.9183 2 10.5Z" fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1464 15.6464C15.3417 15.4512 15.6583 15.4512 15.8536 15.6464L21.8536 21.6464C22.0488 21.8417 22.0488 22.1583 21.8536 22.3536C21.6583 22.5488 21.3417 22.5488 21.1464 22.3536L15.1464 16.3536C14.9512 16.1583 14.9512 15.8417 15.1464 15.6464Z" fill="black"/>
                            </svg>
                        </button>
                        <span class="header-search__close">
                          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3.32227" y="3.06641" width="16" height="1" rx="0.5" transform="rotate(30 3.32227 3.06641)" fill="#FF3300"/>
                            <rect x="2.82227" y="11.0664" width="16" height="1" rx="0.5" transform="rotate(-30 2.82227 11.0664)" fill="#FF3300"/>
                          </svg>
                      </span>
                        <div class="search-results" data-output="search-results">
                            <div class="search-results__show">Go to results</div>
                            <div class="search-results__empty">No results.</div>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Design</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Lifting-sliding structures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Panoramik-sliding structures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Sliding system</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Parallel-removable sliding structures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Wintergardens and domes</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main" style="opacity: 0;">
    <div class="contacts">
        <div class="contacts__inner">
            <span class="contacts__title">Let’s add comfort, style and functionality for your home!</span>
            <div class="contacts__mail">
                <span>Contacts us:</span>
                <a href="javascript:void(0)">info@Windows&facades.nl</a>
            </div>
            <div class="contacts__link">
                <svg width="30" height="79" viewBox="0 0 30 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 2L30 0L10 77L0 79L20 2Z" fill="black"/>
                </svg>
                <div class="words-slider slick-slider"
                     data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "variableWidth": true, "fade": true, "arrows": false, "dots": false, "autoplay": true, "autoplaySpeed": 500, "infinite": true}'>
                    <div class="slide">
                        <span>Fasades.</span>
                    </div>
                    <div class="slide">
                        <span>Design.</span>
                    </div>
                    <div class="slide">
                        <span>Curtain wall.</span>
                    </div>
                    <div class="slide">
                        <span>Maintenance.</span>
                    </div>
                </div>
            </div>
            <div class="contacts__address">
                <a href="javascript:void(0)">+47 (000) 500 60 20</a>
                <span>012345, Нідерланди, Роттердам,вулиця Блаак 94, №офиса</span>
            </div>
        </div>
        <div class="contacts__bot">
            <div class="contacts__inner">
                <div class="contacts__logo">
                    <img src="../../images/logo-red.svg" alt="">
                </div>
                <a href="javascript:void(0)" target="_blank">
                    <span>Main domen: construction and foundation</span>
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="white"/>
                        <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="white"/>
                        <path d="M0.480469 15.5206L15.3605 0.640625" stroke="white" fill="white" stroke-width="1.28"/>
                    </svg>

                </a>
            </div>
        </div>

    </div>

</main>
${require('../parts/footer.html')}

</body>

</html>
