<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Delta House</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#EFEFED">
  <meta name="msapplication-navbutton-color" content="#EFEFED">
  <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body>

  ${require('../parts/header.html')}

  <main class="main">
    <div class="section main-section">
        <div class="container-lg">
            <div class="grid">
                <div class="col-lg">
                    <div class="col-left"></div>
                    <div class="col-right">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="8" y1="2.18557e-08" x2="8" y2="16" stroke="#EFEFED"/>
                            <line y1="8" x2="16" y2="8" stroke="#EFEFED"/>
                        </svg>
                    </div>
                </div>
                <div class="col-sm">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="7.5" y1="2.18557e-08" x2="7.5" y2="16" stroke="#fff"/>
                        <line y1="7.5" x2="16" y2="7.5" stroke="#fff"/>
                    </svg>
                    <div class="main-text">
                        <p>We are your software security in the world of facade work.</p>
                        <svg width="30" height="79" viewBox="0 0 30 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 2L30 0L10 77L0 79L20 2Z" fill="black"/>
                        </svg>
                    </div>
                </div>
            </div>
            <picture class="main-title">
                <source media="(max-width: 574px)" srcset="../../images/pixel.jpg" data-original="../../images/main-title__mob.svg" class="lazy-web" type="image/svg">
                <source srcset="../../images/pixel.jpg" data-original="../../images/main-title.svg" class="lazy-web" type="image/svg">
                <img src="../../images/pixel.jpg" data-original="../../images/main-title.svg" class="lazy" alt="">
            </picture>
            <div class="main-wrapper">
                <div class="main-pic__wrapper">
                    <img src="../../images/main-pic__mask.svg" class="main-pic__mask lazy" alt="">
                    <img src="../../images/main-pic.jpg" class="main-pic lazy" alt="">
                </div>
            </div>
        </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
