.main-section{
  height: 716px;
  z-index: 1;
  @include bp(xl) {
    height: auto;
    display: flex;
  }
  .container-lg{
    height: 100%;
    @include bp(xl) {
      height: auto;
    }
    .grid{
      .col-lg{
        .col-right{
          &:before{
            opacity: 0;
          }
          >svg{
            opacity: 0;
          }
        }
      }
    }
  }
}

.main-title{
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  @include bp(xl) {
    display: flex;
    justify-content: center;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin: 56px auto 0;
    max-width: calc(100vw - 48px);
  }
  img{
    max-width: 100%;
    object-fit: contain;
  }
}

.main-wrapper{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 48px;
  @include bp(xl) {
    padding: 0 24px;
    position: static;
  }
}

.main-pic__wrapper{
  width: 550px;
  height: 323px;
  margin-top: 206px;
  overflow: hidden;
  position: relative;
  cursor: url('../images/icons/cursor.svg'), auto;
  @include bp(xl) {
    margin-top: 17px;
    margin-bottom: 80px;
    width: calc(59.85vw - 48px);
    height: 32vw;
  }
}

.main-pic{
  width: 590px;
  height: 394px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-pic__mask{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.main-text{
  margin-top: 404px;
  width: 195px;
  @include bp(md) {
    margin-top: 45vw;
  }
  p{
    text-align: right;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 140%;
  }
}
