.main-section{
  height: 716px;
  z-index: 1;
  @include bp(xl) {
    height: auto;
    display: flex;
  }
  @include bp(sm) {
    padding-bottom: 64px;
  }
  .container-lg{
    height: 100%;
    @include bp(xl) {
      height: auto;
    }
    @include bp(sm) {
      display: flex;
      flex-direction: column-reverse;
    }
    .grid{
      @include bp(sm) {
        position: static;
      }
      .col-lg{
        @include bp(sm) {
          width: calc(50vw - 16px);
        }
        .col-right{
          &:before{
            opacity: 0;
          }
          >svg{
            opacity: 0;
          }
        }
      }
      .col-sm{
        @include bp(sm) {
          width: calc(50vw + 16px);
          display: flex;
          justify-content: flex-end;
          padding-right: 24px;
        }
        @include bp(xs) {
          padding-right: 16px;
        }
      }
    }
  }
}

.main-title{
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  object-fit: contain;
  @include bp(xl) {
    display: flex;
    justify-content: center;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin: 56px auto 0;
    max-width: calc(100vw - 48px);
  }
  @include bp(xs) {
    width: calc(100vw - 32px);
    max-width: calc(100vw - 32px);
    margin-top: 24px;
    display: none;
  }
  &__mob {
    display: none;
    @include bp(xs) {
      display: block;
    }
  }
}

.main-wrapper{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 48px;
  @include bp(xl) {
    padding: 0 24px;
    position: static;
  }
  @include bp(xs) {
    padding: 0 16px;
  }
}

.main-pic__wrapper{
  width: 550px;
  height: 323px;
  margin-top: 206px;
  overflow: hidden;
  position: relative;
  cursor: url('../images/icons/cursor.svg'), auto;
  @include bp(xl) {
    margin-top: 17px;
    margin-bottom: 80px;
    width: calc(59.85vw - 48px);
    height: 32vw;
  }
  @include bp(sm) {
    display: none;
  }
}

.main-pic{
  width: 590px;
  height: 394px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-pic__mask{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.main-text{
  margin-top: 404px;
  width: 195px;
  @include bp(md) {
    margin-top: 45vw;
  }
  @include bp(sm) {
    margin-top: 32px;
    max-width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  p{
    text-align: right;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 140%;
  }
}
