.contacts {
}

.contacts__inner {
  max-width: 967px;
  margin: 0 auto;
  padding: 80px 15px;
  @include bp(lg) {
    max-width: 906px;
  }
  @include bp(md) {
    padding-bottom: 64px;
  }
  @include bp(xs) {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    }
}

.contacts__title {
  display: block;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 60px;
  line-height: 140%;
  text-transform: capitalize;
  @include bp(lg) {
    font-size: 56px;
  }
  @include bp(sm) {
    font-size: 44px;
  }
  @media (max-width: 359px) {
    font-size: 38px;
    }
}

.contacts__mail {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 32px;
  @include bp(sm) {
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 55px;
    }
  @include bp(xs) {
    margin-bottom: 40px;
    }

  & span {
    padding: 20px 24px;
    padding-bottom: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #000;
    @include bp(lg) {
      font-size: 28px;
    }
    @include bp(md) {
      padding: 12px 23px;
      padding-bottom: 14px;
    }
    @include bp(sm) {
      font-size: 24px;
    }

    @include bp(xs) {
      margin-bottom: -4px;
      padding: 14px 23px;
      padding-bottom: 15px;
      }
  }

  & a {
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: $red;
    @include bp(lg) {
      font-size: 28px;
    }
    @include bp(sm) {
      font-size: 24px;
    }

    @media (max-width: 359px) {
      font-size: 18px;
      }

    &:hover {
      color: $accent;

      &:after {
        background-color: $accent;
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      bottom: -5px;
      height: 4px;
      background-color: $red;
      transition: all linear 0.2s;
      @include bp(xs) {
        bottom: -8px;
        }
    }
  }
}

.contacts__link {
  display: flex;
  align-items: start;
  gap: 16px;
  justify-content: end;
  margin-bottom: 80px;
  @include bp(md) {
    margin-bottom: 63px;
  }
  @include bp(xs) {
    order: 1;
    gap: 2px;
    margin-bottom: 0px;
  }

  & svg {
    flex-shrink: 0;
    @include bp(lg) {
      height: 75px;
      }
    @include bp(sm) {
      height: 59px;
      }
  }

  & span,
  & a {
    font-weight: 800;
    font-size: 60px;
    line-height: 140%;
    color: #000;
    @include bp(lg) {
      font-size: 56px;
    }
    @include bp(sm) {
      font-size: 44px;
    }

  }
}

.contacts__address {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  @media (max-width: 833px) {
    gap: 20px;
    }
  @include bp(sm) {
      flex-wrap: wrap;
    }
  @include bp(xs) {
    gap: 17px;
    margin-bottom: 33px;
    }

  & a {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    @include bp(sm) {
      font-size: 14px;
      }
  }

  & span {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    @include bp(sm) {
      font-size: 14px;
    }
  }
}

.contacts__bot {
  background-color: $dark;
  @include bp(md) {
    & .contacts__inner {
      padding-top: 64px;
      padding-bottom: 128px;
      @include bp(xs) {
        padding-top: 48px;
        }
    }

  }

  & a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    @include bp(xs) {
      align-items: start;
      }

    &:hover {
      & svg path {
        fill: $red;
        stroke: $red;
      }
    }
    & svg {
      flex-shrink: 0;
    }
    & svg path {
      transition: all linear 0.2s;
    }
  }
}

.contacts__logo {
  margin-bottom: 12px;
}



