@font-face {
  font-family: "TTTravels";
  src: url("../fonts/TTTravels-Regular.eot");
  src: url("../fonts/TTTravels-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTTravels-Regular.woff") format("woff"), url("../fonts/TTTravels-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: url("../fonts/TTTravels-Medium.eot");
  src: url("../fonts/TTTravels-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTTravels-Medium.woff") format("woff"), url("../fonts/TTTravels-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: url("../fonts/TTTravels-DemiBold.eot");
  src: url("../fonts/TTTravels-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTTravels-DemiBold.woff") format("woff"), url("../fonts/TTTravels-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTTravels";
  src: url("../fonts/TTTravels-ExtraBold.eot");
  src: url("../fonts/TTTravels-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTTravels-ExtraBold.woff") format("woff"), url("../fonts/TTTravels-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
