.header {
  height: 87px;
  border-bottom: 1px solid rgba($dark, 0.08);
  @include bp(md) {
  }
}

.header-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 48px 24px;
}

.header-left{
  display: flex;
  align-items: flex-end;
}

.header-btn__cat{
  margin-left: 48px;
  margin-bottom: 4px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  svg{
    margin-right: 8px;
  }
}

.header-right{
  display: flex;
  align-items: center;
}

.header-menu{
  font-size: 16px;
  line-height: 19px;
  display: flex;
  li{
    margin-right: 48px;
    &:last-child{
      margin-right: 0;
    }
    &.current-menu-item {
      a{
        cursor: default;
        color: $red;
        &:before{
          position: absolute;
          content: '';
          z-index: -1;
          background-color: #fff;
          width: calc(100% + 8px);
          height: 10px;
          left: -4px;
          bottom: -2px;
        }
      }
    }
    a{
      position: relative;
      color: #000;
      &:hover{
        color: $red;
      }
    }
  }
}

.header-lang{
  display: flex;
  align-items: center;
  margin-left: 48px;
  span{
    margin-left: 12px;
    margin-right: 12px;
    width: 1px;
    height: 24px;
    background-color: rgba($dark, 0.08);
  }
  a{
    color: #000;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
}

.header-search{
  position: relative;
  margin-left: 48px;
  &.active{
    .header-search__form{
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-search__btn{
  display: flex;
  cursor: pointer;
  width: 24px;
  height: 24px;
  &:hover{
    svg{
      path{
        fill: $red;
      }
    }
  }
}

.header-search__form{
  display: flex;
  position: absolute;
  width: 380px;
  background-color: $light;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  input{
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    border-bottom-color: $red;
    padding-left: 37px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    &::placeholder{
      color: #000;
      opacity: 0.4;
    }
    &:focus{
      &::placeholder{
        opacity: 0;
      }
    }
  }
  button{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    border: none;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover{
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
}

.header-search__close{
  width: 20px;
  height: 16px;
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: $dark;
      }
    }
  }
}
