.header {
  height: 87px;
  border-bottom: 1px solid rgba($dark, 0.08);
  @include bp(sm) {
    height: 128px;
  }
}

.header-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 48px 24px;
  @include bp(xl) {
    padding: 32px 24px 24px;
  }
  @include bp(xs) {
    padding: 32px 16px 24px;
  }
}

.header-left{
  display: flex;
  align-items: flex-end;
  @include bp(sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-btn__cat{
  margin-left: 48px;
  margin-bottom: 4px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  @include bp(md) {
    margin-left: 32px;
  }
  @include bp(sm) {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 24px;
  }
  text-transform: uppercase;
  cursor: pointer;
  svg{
    margin-right: 8px;
  }
}

.header-right{
  display: flex;
  align-items: center;
  @include bp(md) {
    padding-top: 4px;
  }
  @include bp(sm) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.header-menu__btn{
  display: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 28px;
  @include bp(sm) {
    display: flex;
  }
  &.active{
    color: $red;
  }
}

.header-menu{
  font-size: 16px;
  line-height: 19px;
  display: flex;
  @include bp(sm) {
    display: none;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    right: 24px;
    top: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: $dark;
    width: 164px;
    padding-top: 24px;
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 140%;
  }
  @include bp(xs) {
    right: 16px;
  }
  li{
    margin-right: 48px;
    @include bp(md) {
      margin-right: 32px;
    }
    @include bp(sm) {
      margin-right: 0;
      margin-bottom: 24px;
    }
    &:last-child{
      margin-right: 0;
    }
    &.current-menu-item {
      a{
        cursor: default;
        color: $red;
        @include bp(sm) {
          background-color: $red;
          color: #fff;
        }
        &:before{
          position: absolute;
          content: '';
          z-index: -1;
          background-color: #fff;
          width: calc(100% + 8px);
          height: 10px;
          left: -4px;
          bottom: -2px;
          @include bp(sm) {
            display: none;
          }
        }
      }
    }
    a{
      position: relative;
      color: #000;
      @include bp(sm) {
        color: #fff;
        display: flex;
        padding: 0 24px;
      }
      &:hover{
        color: $red;
        @include bp(sm) {
          background-color: $red;
          color: #fff;
        }
      }
    }
  }
}

.header-lang{
  display: flex;
  align-items: center;
  margin-left: 48px;
  @include bp(md) {
    margin-left: 32px;
  }
  @include bp(sm) {
    display: none;
  }
  span{
    margin-left: 12px;
    margin-right: 12px;
    width: 1px;
    height: 24px;
    background-color: rgba($dark, 0.08);
  }
  a{
    color: #000;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
}

.header-search{
  position: relative;
  margin-left: 48px;
  @include bp(md) {
    margin-left: 32px;
  }
  &.active{
    .header-search__form{
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-search__btn{
  display: flex;
  cursor: pointer;
  width: 24px;
  height: 24px;
  &:hover{
    svg{
      path{
        fill: $red;
      }
    }
  }
}

.header-search__form{
  display: flex;
  position: absolute;
  width: 380px;
  background-color: $light;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  @include bp(md) {
    width: 332px;
  }
  input{
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    border-bottom-color: $red;
    padding-left: 37px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    &::placeholder{
      color: #000;
      opacity: 0.4;
    }
    &:focus{
      &::placeholder{
        opacity: 0;
      }
    }
  }
  button{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    border: none;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: linear .3s;
    &:hover{
      svg{
        path{
          fill: $red;
        }
      }
    }
  }
}

.header-search__close{
  width: 20px;
  height: 16px;
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover{
    svg{
      path{
        fill: $dark;
      }
    }
  }
}
