.menu-catalog{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $dark;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: ease-in-out .2s;
  filter: blur(3px);
  transform: scale(.8);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  &.active{
    filter: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .header{
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
  .header-btn__cat{
    color: $red;
  }
  .header-menu{
    li{
      &.current-menu-item {
        a{
          &:hover{
            color: #fff;
          }
          &:before{
            background-color: $red;
          }
        }
      }
      a{
        color: #fff;
        &:hover{
          color: $red;
        }
      }
    }
  }
  .header-lang{
    color: #fff;
    span{
      background-color: rgba(0, 0, 0, 0.1);
    }
    a{
      color: #fff;
      &:hover{
        color: $red;
      }
    }
  }
  .header-search__btn{
    svg{
      path{
        fill: #fff;
      }
    }
  }
  .header-search__form{
    background-color: $dark;
    &:before{
      background-color: $dark;
    }
    &:after{
      background-color: $dark;
    }
    input{
      color: #fff;
      &::placeholder{
        color: #fff;
      }
    }
    .search-results{
      background-color: $light;
      color: #000;
      .mark, mark{
        color: #000;
      }
      ul{
        li{
          a{
            color: #000;
            &:hover{
              color: #fff;
              .mark, mark{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.menu-catalog__main{
  height: calc(100% - 87px);
  overflow: hidden;
  @include bp(sm) {
    height: calc(100% - 128px);
    padding-left: 24px;
    overflow: auto;
    &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 3px;
      transition: linear .2s;
    }
    &::-webkit-scrollbar-thumb {
      background: $light;
      border-radius: 0;
      width: 3px;
      transition: linear .2s;
      cursor: grab;
    }
  }
  @include bp(xs) {
    padding-left: 16px;
  }
  .container-lg{
    display: flex;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    @include bp(sm) {
      flex-direction: column-reverse;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      height: auto;
      max-height: unset;
      overflow: visible;
      padding-bottom: 32px;
      @supports (-webkit-touch-callout: none) {
        padding-bottom: 152px;
      }
    }
    &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 3px;
      transition: linear .2s;
    }
    &::-webkit-scrollbar-thumb {
      background: $light;
      border-radius: 0;
      width: 3px;
      transition: linear .2s;
      cursor: grab;
    }
  }
  .col{
    width: 25%;
    padding-bottom: 48px;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    @include bp(xxxl) {
      border-color: transparent;
      width: 25vw;
    }
    @include bp(sm) {
      padding-bottom: 0;
    }
    &:after{
      opacity: 0;
      position: fixed;
      content: '';
      top: 87px;
      bottom: 0;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      @include bp(xxxl) {
        opacity: 1;
      }
    }
    &:first-child{
      display: flex;
      justify-content: flex-end;
      @include bp(lg) {
        width: 22vw;
      }
      @include bp(md) {
        width: 220px;
      }
      @include bp(sm) {
        width: 100%;
        justify-content: center;
      }
      &:after{
        left: calc(25vw);
        @include bp(lg) {
          left: calc(22vw);
        }
        @include bp(md) {
          left: 220px;
        }
        @include bp(sm) {
          display: none;
        }
      }
    }
    &:nth-child(2){
      @include bp(lg) {
        width: 20vw;
      }
      @include bp(md) {
        width: calc(100vw - 604px);
      }
      @include bp(sm) {
        display: none;
      }
      &:after{
        left: calc(50vw - 2px);
        @include bp(lg) {
          left: calc(42vw - 1px);
        }
        @include bp(md) {
          left: calc(100vw - 386px);
        }
        @include bp(sm) {
          display: none;
        }
      }
    }
    &:nth-child(3){
      @include bp(lg) {
        width: 29vw;
      }
      @include bp(md) {
        width: 360px;
      }
      @include bp(sm) {
        width: 100%;
      }
      &:after{
        left: calc(75vw - 2px);
        @include bp(lg) {
          left: calc(71vw - 2px);
        }
        @include bp(md) {
          left: calc(100vw - 26px);
        }
        @include bp(sm) {
          display: none;
        }
      }
    }
    &:last-child{
      position: relative;
      border-color: transparent;
      @include bp(lg) {
        width: 29vw;
      }
      @include bp(md) {
        width: 24px;
      }
      @include bp(sm) {
        display: none;
      }
      &:after{
        display: none;
      }
    }
  }
}

.menu-catalog__address{
  margin-top: 92px;
  width: 200px;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $light;
  text-align: right;
  @include bp(sm) {
    width: auto;
    text-align: center;
    position: relative;
    left: -12px;
    padding: 0 24px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 140%;
  }
  @include bp(xs) {
    left: -8px;
    padding: 0 16px;
  }
  >a{
    display: block;
    color: $light;
    text-decoration: none;
    margin-bottom: 32px;
    @include bp(sm) {
      margin-bottom: 12px;
    }
    &:hover{
      color: $red;
    }
  }
  .header-lang{
    display: none;
    color: #fff;
    margin: 0 auto 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    @include bp(sm) {
      display: flex;
      justify-content: center;
    }
    span{
      background-color: rgba(255, 255, 255, 0.08);
      margin: 0 16px;
    }
    a{
      color: #fff;
    }
  }
}

.menu-catalog__list{
  margin-top: 68px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  @include bp(sm) {
    margin-top: 8px;
  }
  &.opened{
    >li{
      >a{
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  >li{
    position: relative;
    &:hover{
      >a, span{
        background-color: $red;
      }
      >div{
        opacity: 1;
        visibility: visible;
        @include bp(md) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &.has-children{
      &.opened{
        >a, span{
          border-bottom-color: $accent;
          background-color: $accent;
          svg{
            transform: scale(1, -1);
          }
        }
      }
      >a, span{
        padding-right: 56px;
        position: relative;
        svg{
          position: absolute;
          right: 16px;
          top: 9px;
          @include bp(sm) {
            top: 13px;
          }
        }
      }
    }
    >a, span{
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      padding: 12px 0;
      color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      @include bp(sm) {
        padding: 16px 0;
      }
      &:hover{
        color: #fff;
      }
    }
    >div{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: calc(100% + 1px);
      top: 50%;
      transform: translateY(-50%);
      width: 315px;
      height: 400px;
      z-index: 1;
      @include bp(lg) {
        width: 280px;
        height: 365px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    >ul{
      display: none;
      >li{
        position: relative;
        &:hover{
          >a{
            background-color: $red;
          }
          >div{
            opacity: 1;
            visibility: visible;
            @include bp(md) {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        >a{
          display: block;
          padding: 12px 0;
          color: #fff;
          background-color: $accent;
          @include bp(sm) {
            padding: 16px 0;
          }
          &:hover{
            color: #fff;
          }
        }
        >div{
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: calc(100% + 1px);
          top: 50%;
          transform: translateY(-50%);
          width: 315px;
          height: 400px;
          z-index: 1;
          @include bp(lg) {
            width: 280px;
            height: 365px;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.menu-catalog__pic{
  transition: none;
  @include bp(md) {
    display: none;
  }
  &.fixed-top{
    position: fixed;
    top: 87px;
    bottom: auto;
    left: calc(75% - ((100vw - 1920px)/4));
    transform: none;
    @include bp(xxxl) {
      left: calc(75vw - 1px);
    }
    @include bp(lg) {
      left: calc(71vw - 1px);
    }
  }
  &.fixed-bot{
    position: fixed;
    top: auto;
    bottom: 0;
    left: calc(75% - ((100vw - 1920px)/4));
    transform: none;
    @include bp(xxxl) {
      left: calc(75vw - 1px);
    }
    @include bp(lg) {
      left: calc(71vw - 1px);
    }
  }
}
