<footer class="footer">
  <div class="footer-top">
      <div class="container-lg">
          <div class="grid">
              <div class="col-lg">
                  <div class="col-left">
                      <a href="javascript:void(0)" class="footer-logo">
                          <img src="../../images/logo-white.svg" class="lazy" alt="">
                      </a>
                  </div>
                  <div class="col-right">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="7.5" y1="2.18557e-08" x2="7.5" y2="16" stroke="#fff"/>
                          <line y1="7.5" x2="16" y2="7.5" stroke="#fff"/>
                      </svg>
                      <ul class="footer-menu">
                          <li>
                              <a href="javascript:void(0)">
                                  <span>About us</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Contacts</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Terms and
                                  Conditions</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Privacy
                                  Declaration</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm"></div>
          </div>
      </div>
  </div>
  <div class="footer-bot">
      <div class="container-lg">
          <div class="footer-bot__wrapper">
              <div class="footer-copyright">
                  2022 DeltaHouse Remen en Gevels. All rights reserved
              </div>
              <div class="footer-dev">
                  Design and Development: <a href="javascript:void(0)" rel="nofollow" target="_blank">ProArea Digital Agency</a>
              </div>
          </div>
      </div>
  </div>
</footer>
