<footer class="footer" style="opacity: 0;">
  <div class="footer-top">
      <div class="container-lg">
          <div class="grid">
              <div class="col-lg">
                  <div class="col-left">
                      <a href="javascript:void(0)" class="footer-logo">
                          <img src="../../images/logo-white.svg" class="lazy" alt="">
                      </a>
                  </div>
                  <div class="col-right">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="7.5" y1="2.18557e-08" x2="7.5" y2="16" stroke="#fff"/>
                          <line y1="7.5" x2="16" y2="7.5" stroke="#fff"/>
                      </svg>
                      <ul class="footer-menu">
                          <li>
                              <a href="javascript:void(0)">
                                  <span>About us</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Contacts</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Terms and
                                  Conditions</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                  <span>Privacy
                                  Declaration</span>
                                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M3.20188 0H16.0019V1.6H1.92188L3.20188 0Z" fill="#EFEFED"/>
                                      <path d="M16 0L16 12.8L14.4 14.08L14.4 1.90798e-08L16 0Z" fill="#EFEFED"/>
                                      <path d="M0.480469 15.5206L15.3605 0.640625" stroke="#EFEFED" stroke-width="1.28"/>
                                  </svg>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm"></div>
          </div>
      </div>
  </div>
  <div class="footer-bot">
      <div class="container-lg">
          <div class="footer-bot__wrapper">
              <div class="footer-copyright">
                  2022 DeltaHouse Remen en Gevels. All rights reserved
              </div>
              <div class="footer-dev">
                  Design and Development: <a href="javascript:void(0)" rel="nofollow" target="_blank">ProArea Digital Agency</a>
              </div>
          </div>
      </div>
  </div>
</footer>

<div class="menu-catalog" style="opacity: 0;">
    <div class="header">
        <div class="container-lg">
            <div class="header-wrapper">
                <div class="header-left">
                    <a href="javascript:void(0)" class="header-logo">
                        <img src="../../images/logo-white.svg" class="lazy" alt="">
                    </a>
                    <div class="header-btn__cat">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3.32227" y="3.06641" width="16" height="1" rx="0.5" transform="rotate(30 3.32227 3.06641)" fill="#FF3300"/>
                            <rect x="2.82227" y="11.0664" width="16" height="1" rx="0.5" transform="rotate(-30 2.82227 11.0664)" fill="#FF3300"/>
                        </svg>
                        Catalog
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-menu__btn"></div>
                    <ul class="header-menu">
                        <li><a href="javascript:void(0)">About us</a></li>
                        <li><a href="javascript:void(0)">Contacts</a></li>
                    </ul>
                    <div class="header-lang">
                        <div>En</div>
                        <span></span>
                        <a href="javascript:void(0)">Nl</a>
                    </div>
                    <div class="header-search">
                        <span class="header-search__btn">
                          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5C6.13401 3.5 3 6.63401 3 10.5C3 14.366 6.13401 17.5 10 17.5C13.866 17.5 17 14.366 17 10.5C17 6.63401 13.866 3.5 10 3.5ZM2 10.5C2 6.08172 5.58172 2.5 10 2.5C14.4183 2.5 18 6.08172 18 10.5C18 14.9183 14.4183 18.5 10 18.5C5.58172 18.5 2 14.9183 2 10.5Z" fill="#fff"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1464 15.6464C15.3417 15.4512 15.6583 15.4512 15.8536 15.6464L21.8536 21.6464C22.0488 21.8417 22.0488 22.1583 21.8536 22.3536C21.6583 22.5488 21.3417 22.5488 21.1464 22.3536L15.1464 16.3536C14.9512 16.1583 14.9512 15.8417 15.1464 15.6464Z" fill="#fff"/>
                          </svg>
                        </span>
                        <form class="header-search__form">
                            <input type="search" placeholder="Search">
                            <button type="submit">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5C6.13401 3.5 3 6.63401 3 10.5C3 14.366 6.13401 17.5 10 17.5C13.866 17.5 17 14.366 17 10.5C17 6.63401 13.866 3.5 10 3.5ZM2 10.5C2 6.08172 5.58172 2.5 10 2.5C14.4183 2.5 18 6.08172 18 10.5C18 14.9183 14.4183 18.5 10 18.5C5.58172 18.5 2 14.9183 2 10.5Z" fill="#fff"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1464 15.6464C15.3417 15.4512 15.6583 15.4512 15.8536 15.6464L21.8536 21.6464C22.0488 21.8417 22.0488 22.1583 21.8536 22.3536C21.6583 22.5488 21.3417 22.5488 21.1464 22.3536L15.1464 16.3536C14.9512 16.1583 14.9512 15.8417 15.1464 15.6464Z" fill="#fff"/>
                                </svg>
                            </button>
                            <span class="header-search__close">
                              <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="3.32227" y="3.06641" width="16" height="1" rx="0.5" transform="rotate(30 3.32227 3.06641)" fill="#FF3300"/>
                                <rect x="2.82227" y="11.0664" width="16" height="1" rx="0.5" transform="rotate(-30 2.82227 11.0664)" fill="#FF3300"/>
                              </svg>
                            </span>
                            <div class="search-results" data-output="search-results">
                                <div class="search-results__show">Go to results</div>
                                <div class="search-results__empty">No results.</div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Design</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Lifting-sliding structures</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Panoramik-sliding structures</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Sliding system</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Parallel-removable sliding structures</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Wintergardens and domes</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-catalog__main">
        <div class="container-lg">
            <div class="col">
                <div class="menu-catalog__address">
                    <div class="header-lang">
                        <div>En</div>
                        <span></span>
                        <a href="javascript:void(0)">Nl</a>
                    </div>
                    <a href="tel:+470005006020">+47 (000) 500 60 20</a>
                    <div>012345, Нідерланди, Роттердам,вулиця Блаак 94, №офиса</div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">
                <ul class="menu-catalog__list">
                    <li data-name="design" class="zoom-pic">
                        <a href="javascript:void(0)">Design</a>
                        <div data-name="design" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="сurtain_wall">
                        <a href="javascript:void(0)">Curtain wall</a>
                        <div data-name="сurtain_wall" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="unitized_facades">
                        <a href="javascript:void(0)">Unitized facades</a>
                        <div data-name="unitized_facades" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="rainscreen_cladding">
                        <a href="javascript:void(0)">Rainscreen cladding</a>
                        <div data-name="rainscreen_cladding" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="aluminum">
                        <a href="javascript:void(0)">Aluminum</a>
                        <div data-name="aluminum" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                    </li>
                    <li class="has-children">
                        <span>
                            Sliding system
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8665 8.68354C18.2189 9.04504 18.2189 9.62162 17.8665 9.98312L12.716 15.2656C12.3235 15.6682 11.6765 15.6682 11.284 15.2656L6.13355 9.98313C5.78109 9.62163 5.78108 9.04504 6.13355 8.68354C6.49886 8.30886 7.10114 8.30886 7.46645 8.68354L12 13.3333L16.5335 8.68354C16.8989 8.30886 17.5011 8.30886 17.8665 8.68354Z" fill="white"/>
                            </svg>
                        </span>
                        <ul>
                            <li data-name="lifting_sliding_structures">
                                <a href="javascript:void(0)">Lifting-sliding structures</a>
                                <div data-name="lifting_sliding_structures" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                            </li>
                            <li data-name="panoramik_sliding_structures">
                                <a href="javascript:void(0)">Panoramik-sliding structures</a>
                                <div data-name="panoramik_sliding_structures" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                            </li>
                            <li data-name="sliding_system">
                                <a href="javascript:void(0)">Sliding system</a>
                                <div data-name="sliding_system" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                            </li>
                            <li data-name="parallel_removable_sliding_structures">
                                <a href="javascript:void(0)">Parallel-removable sliding structures</a>
                                <div data-name="parallel_removable_sliding_structures" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                            </li>
                        </ul>
                    </li>
                    <li data-name="wintergardens_and_domes">
                        <a href="javascript:void(0)">Wintergardens and domes</a>
                        <div data-name="wintergardens_and_domes" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="inspect_screening_system">
                        <a href="javascript:void(0)">Inspect screening system</a>
                        <div data-name="inspect_screening_system" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="sun_protection_systems">
                        <a href="javascript:void(0)">Sun protection systems</a>
                        <div data-name="sun_protection_systems" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="parapets_canopies">
                        <a href="javascript:void(0)">Parapets, canopies</a>
                        <div data-name="parapets_canopies" class="menu-catalog__pic"><img src="../../images/cat-01.jpg" class="lazy" alt=""></div>
                    </li>
                    <li data-name="maintenance">
                        <a href="javascript:void(0)">Maintenance</a>
                        <div data-name="maintenance" class="menu-catalog__pic"><img src="../../images/cat-02.jpg" class="lazy" alt=""></div>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
